@import "tailwindcss";
@source "../node_modules/@omerbres/react-simple-calendar";
@import "tw-animate-css";
/* Fonts */
@import "./styles/fonts.css";
@import "@fontsource/lora/400.css";
@import "@fontsource/lora/500.css";
@import "@fontsource/lora/600.css";
@import "@fontsource/lora/700.css";

/* Design system layers */
@import "./styles/tokens.css";
@import "./styles/base.css";
@import "./styles/typography.css";
